<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.2/phpunit.xsd"
		colors="true"
		bootstrap="./vendor/autoload.php"
		failOnRisky="true"
		failOnWarning="true"
		stopOnFailure="true"
>
	<testsuites>
		<testsuite name="Avantarm Memcached emulator test suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>